PORT=8004
MONGODB_URI=mongodb://nosql-db:27017/payments
APP_SECRET=your_jwt_secret_here
RABBIT_MQ_URL=amqp://guest:guest@rabbitmq:5672
RAZORPAY_API_KEY=your_razorpay_key_id
RAZORPAY_API_SECRET=your_razorpay_key_secret
