RABBIT_MQ_URL=amqp://guest:guest@rabbitmq:5672
DB_URL=postgres://notification:notification@postgres-db:5432/notifications
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_smtp_password
